.hero-single-blog {
  background: url("../img/forest.jpg") no-repeat center center;
  background-size: cover;
  height: 90vh;
}

.blog-inner-heading {
  box-shadow: inset 0 0 0 100vw rgba(26, 26, 26, 0.7);

  /* Here's the same styles we applied to our content-div earlier */
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.blog-inner-heading h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px 0px;
  text-align: center;
}

.inner-single-blog-shadow {
  box-shadow: inset 0 0 0 100vw rgba(26, 26, 26, 0.7);

  /* Here's the same styles we applied to our content-div earlier */
  top: 70.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px 0px;
}

.inner-single-blog-shadow ul {
  display: flex;
  align-items: center;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    img {
      width: 20px;
      height: auto;
    }
  }
  a {
    text-decoration: none;
    padding: 10px 10px;
    color: $yellow;
    font-size: $span_p;
    transition: 0.4s ease-in-out;
    margin: 0px 5px;
    &:hover {
      background-color: $yellow;
      color: $primary-color;
    }
  }
}

.single-blog-author-date {
  li {
    &:first-child img {
      margin-bottom: 15%;
    }
    &:nth-child(3) img {
      margin-bottom: 15%;
    }
  }
}

.single-blog-article {
  padding: 30px 0px;
}

.single-blog-article p {
  font-size: $p;
  line-height: $line-height;
  color: $blog-p;
}

.single-blog-related-post {
  h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

// Carousel Section
.single-blog-related-post {
  padding: 25px 0px;
}
.item > img {
  height: 270px;
}

.content-area {
  position: relative;
}

.inner-blog-carousel-content {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.6);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-blog-carousel-content h4 {
  display: block;
}

.inner-blog-carousel-content p {
  display: block;
}

.inner-blog-carousel-content:hover {
  opacity: 1;
}
