.hero-blog {
  text-align: center;
  padding: 60px 0px;
  letter-spacing: 5px;
}

.blog{
  .blog-main{
    .blog-inner{
      min-height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      filter: grayscale(1);
      position: relative;
    }
    .blog-content{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      opacity: 0;
      height: 100%;
      background-color: $transperant_bg;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      h2,p{
        text-transform: uppercase;
        display: block;
        text-align: center;
      }
      p{
        font-weight: 700;
      }
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}