.portfolio-single-title {
    margin: 90px 0px;
    h1 {
        font-size: 36px;
        text-transform: uppercase;
        @include respond(phone) {
            font-size: 25px;
        }
    }
    p {
        font-size: 14px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        position: relative;
        margin-top: 10%;
        span {
            font-family: "Montserrat", sans-serif;
            padding-left: 5%;
            &:before {
                content: "";
                width: 3%;
                height: 2px;
                bottom: 10px;
                position: absolute;
                background: $yellow;
                left: 7%;
                @include respond(phone) {
                    left: 0;
                    bottom: 0;
                    transform: translate(67px, -10px);
                }
            }
        }
    }
}

.portfolio-single {
    h5 {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        color: $yellow;
        font-weight: 700;
        @include respond(phone) {
            margin-top: 25px;
        }
    }
    p {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        padding-top: 25px;
    }
    span {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: $yellow;
        padding-top: 25px;
        display: block;
    }
}
.portfolio-gallery {
    padding-top: 100px;
    // background-color: $blog-p;
    .portfolio-grid {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        .grid-item {
            width: 32%;
            margin: 2% auto;
            img {
                width: 100%;
                filter: grayscale(1);
                transition: filter 0.8s ease-out;
                &:hover {
                    filter: grayscale(0);
                }
            }
        }
        .grid-sizer {
            width: 33.333%;
        }
    }
}

.single-portfolio-content {
    h5 {
        font-size: 14px;
        color: $yellow;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        margin-top: 15%;
    }
    p {
        padding-top: 0px;
        font-family: "Montserrat", sans-serif;
    }
    a {
        text-decoration: none;
        color: $yellow;
        text-align: center;
        display: block;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin-top: 15%;
        transition: all 0.5s ease-out;
        &:hover {
            background-color: $yellow;
            color: $primary-color;
        }
    }
}
