/* Large Desktop Layout */
@media only screen and (min-width: 1500px) {
}

/* Medium Desktop Layout */
@media only screen and (min-width: 1200px) and (max-width: 1375px) {
}

/* Small Desktop Layout */
@media only screen and (min-width: 991px) and (max-width: 1200px) {
}

/*Laptop Layout*/
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}

/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 22px !important;
  }
  h4 {
    font-size: 25px;
  }
  p {
    font-size: 16px !important;
  }
  .menu > div > div > ul > li > a {
    font-size: 16px;
  }

  // Blog Section
  .grid-item,
  .grid-sizer {
    width: 50%;
  }

  .grid-col {
    padding: 0 0.5em;
  }

  .hero-blog {
    padding: 50px 0px 15px 0px;
  }

  .filter {
    ul {
      li {
        font-size: 14px;
        padding: 2px 3px;
      }
    }
  }

  // Single Blog
  .hero-single-blog {
    height: 90vh;
  }

  .blog-inner-heading {
    top: 130%;
  }
  .blog-inner-heading h1 {
    padding: 20px 0px;
  }
  .inner-single-blog-shadow {
    top: 67%;
    .ml-auto {
      margin-left: inherit;
    }
  }
}

/* Mobile Large Layout */
@media only screen and (min-width: 425px) and (max-width: 767px) {
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 22px !important;
  }
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 16px !important;
  }
  .menu > div > div > ul > li > a {
    font-size: 16px;
  }

  // Blog Section
  .grid-item,
  .grid-sizer {
    width: 50%;
  }
  .hero-blog {
    padding: 50px 0px 15px 0px;
  }
  .filter {
    ul {
      li {
        font-size: 14px;
        padding: 2px 3px;
      }
    }
  }
  .blog-colcade-content {
    opacity: 1;
    p {
      display: none;
    }
  }

  // Single Blog
  .hero-single-blog {
    height: 90vh;
  }

  .blog-inner-heading {
    top: 130%;
  }
  .blog-inner-heading h1 {
    padding: 20px 0px;
  }
  .inner-single-blog-shadow {
    top: 66%;
    .ml-auto {
      margin-left: inherit;
    }
  }
}

/* Mobile Medium Layout */
@media only screen and (min-width: 375px) and (max-width: 424px) {
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 22px !important;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 16px !important;
  }
  .menu > div > div > ul > li > a {
    font-size: 16px;
  }

  // Blog Section
  .grid-item,
  .grid-sizer {
    width: 50%;
  }
  .hero-blog {
    padding: 50px 0px 15px 0px;
  }
  .filter {
    ul {
      li {
        font-size: 14px;
        padding: 2px 3px;
      }
    }
  }
  .blog-colcade-content {
    opacity: 1;
    p {
      display: none;
    }
  }

  // Single Blog
  .hero-single-blog {
    height: 90vh;
  }

  .inner-single-blog-shadow {
    box-shadow: none;
    display: none;
  }
  .blog-inner-heading {
    top: 130%;
  }
  .blog-inner-heading h1 {
    padding: 20px 0px;
  }
}

/* Mobile Small Layout */
@media only screen and (min-width: 320px) and (max-width: 374px) {
  // Global Styles
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px !important;
  }
  .menu > div > div > ul > li > a {
    font-size: 16px;
  }

  // Blog Section
  .grid-item,
  .grid-sizer {
    width: 50%;
  }
  .hero-blog {
    padding: 50px 0px 15px 0px;
  }
  .filter {
    ul {
      li {
        font-size: 14px;
        padding: 2px 3px;
      }
    }
  }
  .blog-colcade-content {
    opacity: 1;
    p {
      display: none;
    }
  }

  // Single Blog
  .hero-single-blog {
    height: 70vh;
  }
  .inner-single-blog-shadow {
    top: 47%;
    box-shadow: none;
  }
  .inner-single-blog-shadow ul {
    display: none;
  }
}
