@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "variables";
* {
  padding: 0;
  margin: 0;
}

*::selection {
  color: $primary-color;
  background-color: $selection;
}

body {
  background-color: #1a1a1a;
  color: #fff;
}
h1,
h2,
h4 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Dosis", sans-serif;
}

h1,
h2,
h4,
p {
  color: $yellow;
}

/* ------- Start Menu Css ------- */
@import "menu";

/* ------- Index Css -------*/
.hero {
  padding: 60px 0px;
  height: 95vh;
}

.hero-inner > h1 span {
  font-weight: bold;
}

.hero h1,
.hero h2 {
  text-align: center;
  letter-spacing: 2px;
}

/* ------- Start Portfolio Css ------- */
@import "portfolio";

/* ------- Start Blog Css ------- */
@import "blog";

/* ------- Start Single Css ------- */
@import "blog-single";

@import "responsive";
