@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "variables";
@import "mixins";
@import "utilities";
// Global
* {
  padding: 0;
  margin: 0;
}

*::selection {
  color: $primary-color;
  background-color: $selection;
}
a:focus {
  outline: none;
}

body {
  background-color: #1a1a1a;
  color: #fff;
}

h1 {
  font-weight: 700;
  font-size: $h1;
}

h1,
h2,
h4 {
  font-family: $font-mont;
  color: $yellow;
}
p {
  font-weight: 400;
  color: $yellow;
}
blockquote,
p,
a {
  font-family: $font-dosis;
}
// Helper Class
.left-push {
  margin-left: 5% !important;
}

.page-title {
  padding: 60px 0px;
  h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

/* ------- Start Menu Css ------- */
@import "menu";

/* ------- Index Css -------*/
@import 'frontpage';
/* ------- Start Portfolio Css ------- */
@import "portfolio";

/* ------- Start Portfolio Single Css ------- */
@import "portfolio-single";

/* ------- Start Services Css ------- */
@import "services.scss";
/* ------- End Services Css ------- */
/* ------- Start Blog Css ------- */
/* @import "blog"; */

/* ------- Start Blog Single Css ------- */
@import "blog-single";

/* ------- Start Contact Css ------- */
@import "contact";

/* ------- Start Responsive Css ------- */
/* @import "responsive"; */
